# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/

# SwiftPM
.build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Carthage
Carthage/Build/

# SwiftPM Resolver cache
.swiftpm/

# macOS
.DS_Store
